{% extends 'base.html' %}
{% block content %}

<div class="container mb-4 mt-3" >

    <h2>Players List</h2>

</div>
<div class="container" >
    {% for team in teams %}

    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-sm-auto mb-3">
        <div class="card" style="width: 12rem;">

            <h5 class="card-title mt-2 m-auto mb-2 ">team of week {{team.week}}</h5>

            <form method="post" action="#">
                <input type="submit" class="btn btn-outline-primary btn-lg mb-3 " value="show team">
                {% csrf_token %}
            </form>

            <a href="{% url 'team:detail' team.week %}">details</a>
        </div>
    </div>
    {% if forloop.counter|divisibleby:5 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}



</div>

{% endblock %}