{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{% static 'css/base.css' %}" rel="stylesheet">

    </head>
<body>
<div id="header">
<span class="logo">fantasy</span>

<span class="user">
{% if request.user.is_authenticated %}
Hello {{ request.user.first_name }},
<a href="{% url 'account:logout' %}">Logout</a>
{% else %}
<a href="{% url 'account:login' %}">Log-in</a>
{% endif %}
</span>

</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
</body>
</html>