{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mb-4 mt-3" >

    <h2>Players List</h2>

</div>
<div class="container" >
    {% for player in players %}

    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-sm-auto mb-3">
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="{{player.image.url}}">
            <h5 class="card-title mt-2 m-auto mb-2 ">{{player.firstname}} {{player.lastname}}</h5>
            <p class="card-text m-auto mb-4">{{player.position}}</p>
            <form method="post" action="{% url 'team:add' player.id %}">
                <input type="submit" class="btn btn-outline-primary btn-lg mb-3 " value="add to draft team">
                {% csrf_token %}
            </form>

            <a href="{% url 'players:detail' player.id %}" class="btn btn-outline-secondary btn-sm mb-3">details</a>
        </div>
    </div>
    {% if forloop.counter|divisibleby:5 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}



</div>

{% endblock %}